<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Allows screen to go fullscreen once it's been added to homescreen -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url('images/' + icon_type + '-icon.png') }}">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="{{ static_url('css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ static_url('css/masline.css') }}">
	</head>
	<body>